/* shared/ui/components/form/FormLayout/FormLayout.css */

.form-layout {
  display: flex;
  flex-direction: column;
  gap: var(--form-gap);
}

.form-layout--actions-bottom {
  flex: 1 1 auto;
  height: 100%;
  min-height: 0;
}

/* =========================
   FIELDS
========================= */

.form-fields {
  display: flex;
  flex-direction: column;
  gap: var(--form-fields-gap);
}

/* =========================
   ERROR
========================= */

.form-error-block {
  min-height: var(--form-error-min-height);
}

/* =========================
   ACTIONS
========================= */

.form-layout-actions-slot {
  display: flex;
  flex-direction: column;
  gap: var(--form-actions-gap);
  width: 100%;
}

.form-layout--actions-bottom > .form-layout-actions-slot {
  margin-top: auto;
}
