.number-input {
  width: 100%;
}

.ni-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 0;
}

.ni-input {
  width: 100%;
  min-width: 0;

  border: none;
  outline: none;
  background: transparent;

  font: inherit;
  color: inherit;
}

.ni-unit {
  position: absolute;
  right: 0;

  font-size: inherit;
  font-weight: inherit;
  color: var(--color-text-soft);

  pointer-events: none;
  white-space: nowrap;
}