.ni-execution .ni-input {
  font-size: var(--exec-text-size);
  font-variant-numeric: tabular-nums;

  padding-block: var(--input-padding-y);
  padding-inline-start: var(--input-padding-x);

  border-radius: var(--input-radius);
  border: var(--input-border-width) solid var(--input-border-color);

  background: var(--input-bg);
  color: var(--input-text);
}

/* focus */

.ni-execution .ni-input:focus-visible {
  box-shadow: 0 0 0 var(--focus-ring-width) var(--focus-ring-color);
  border-color: var(--input-border-color-focus);
}

/* readonly */

.ni-execution.readonly  .ni-input{
  border-color: transparent;
  cursor: default;
  pointer-events: none;
}

/* unit */

.ni-execution .ni-unit {
  right: var(--input-padding-x);
}

/* display mode */

.ni-execution.is-display-only .ni-input {
  border-color: transparent;
  cursor: default;
  pointer-events: none;
}