.single-form-layout {
  width: 100%;
  max-width: var(--layout-content-max-width);
  margin: 0 auto;
}

.single-form-panel {
  display: flex;
  flex-direction: column;
  gap: var(--layout-section-gap);

  width: var(--page-form-width);
  max-width: 100%;
}

@media (max-width: 50rem) {
  .single-form-panel {
    width: 100%;
  }
}
