/* LinkButton.css */

.link-button {
  background: none;
  border: none;
  padding: 0;

  color: var(--color-primary);
  text-decoration: underline;
  cursor: pointer;

  font: inherit;
}

.link-button:hover {
  text-decoration: none;
}