/* styles/tokens/primitives/size.css */


:root {
  --size-topbar-height: 60px;
  --size-sidebar-width: 160px;

  --size-settings-width: 150px;

  --size-input-height: 40px;

  --size-icon-sm: 14px;
  --size-icon-md: 18px;
  --size-icon-lg: 24px;

   /* Control heights */
  --size-control-xsm: 28px;
  --size-control-sm: 32px;
  --size-control-md: 40px;
  --size-control-lg: 48px;

  /* Icon button */
  --size-control-icon: 15px;
}
